@charset "UTF-8";
/* Brand Colours */
:root {
  --bg: hsla(219, 58%, 95%, 1);
  --text: hsla(233, 26%, 35%, 1);
  --portfolio-bg: hsla(220, 40%, 89%, 1);
  --portfolio-entry-bg: hsla(222, 50%, 96%, 1);
  --portfolio-entry-shadow: hsla(222, 15%, 24%, 1);
  --footer-bg: hsla(229, 35%, 34%, 1);
  --footer-text: hsla(0, 0%, 100%, 1);
  --link: hsla(233, 26%, 35%, 1);
  --link-hover: hsla(233, 26%, 35%, 1);
  --button-bg: hsla(229, 35%, 34%, 1);
  --button-bg-hover: hsla(229, 35%, 30%, 1);
  --button-text: hsla(219, 58%, 95%, 1);
  --button-secondary-bg: hsla(217, 41%, 88%, 0.6);
  --button-secondary-bg-hover: hsla(217, 41%, 88%, 0.9);
  --button-secondary-text: hsla(233, 26%, 35%, 1);
  --button-ghost-bg: hsla(217, 41%, 88%, 0);
  --button-ghost-bg-hover: hsla(217, 41%, 88%, 0.9);
  --button-ghost-text: hsla(233, 26%, 35%, 1);
  --logo: hsla(233, 26%, 35%, 1);
  --logo-profile: hsla(0, 0%, 100%, 1);
  --shadow: 0px 7px 20px hsla(0, 0%, 0%, 0.2);
  --border: 1px solid hsla(0, 0%, 84%, 1);
  --border-radius: 0.6rem;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsla(221, 24%, 21%, 1);
    --text: hsla(229, 23%, 91%, 1);
    --portfolio-bg: hsla(220, 34%, 19%, 1);
    --portfolio-entry-bg: hsla(222, 15%, 36%, 1);
    --portfolio-entry-shadow: hsla(222, 50%, 96%, 1);
    --footer-bg: hsla(232, 37%, 15%, 1);
    --footer-text: hsla(229, 23%, 91%, 1);
    --link: hsla(229, 23%, 91%, 1);
    --link-hover: hsla(229, 23%, 91%, 1);
    --button-bg: hsla(229, 23%, 91%, 1);
    --button-bg-hover: hsla(229, 23%, 95%, 1);
    --button-text: hsla(221, 24%, 21%, 1);
    --button-secondary-bg: hsla(217, 21%, 38%, 0.6);
    --button-secondary-bg-hover: hsla(217, 41%, 88%, 0.7);
    --button-secondary-text: hsla(233, 26%, 100%, 1);
    --button-ghost-bg: hsla(217, 21%, 38%, 0);
    --button-ghost-bg-hover: hsla(217, 41%, 88%, 0.3);
    --button-ghost-text: hsla(233, 26%, 100%, 1);
    --logo: hsla(229, 23%, 91%, 1);
    --logo-profile: hsla(229, 23%, 91%, 1);
    --shadow: 0px 7px 20px hsla(0, 0%, 0%, 0.2);
    --border: 1px solid hsla(0, 0%, 84%, 1);
    --border-radius: 0.6rem;
  }
}
/* Typography */
:root {
  --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  --font-h1: normal 900 2.25rem/1.5rem var(--font);
  --font-h2: normal 900 2rem/1.5rem var(--font);
  --font-h3: normal 900 1.8rem/1.5rem var(--font);
  --font-h4: normal 900 1.6rem/1.5rem var(--font);
  --font-h5: normal 900 1.4rem/1.5rem var(--font);
  --font-h6: normal 900 1.2rem/1.5rem var(--font);
  --font-nav: normal 500 1rem/1.5rem var(--font);
  --font-li: normal 300 1rem/1.5rem var(--font);
  --font-p: normal 300 1rem/1.5rem var(--font);
  --font-a: normal 700 1rem/1.5rem var(--font);
  --font-button: normal 700 20px/1.5rem var(--font);
  --font-bold: 900;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  :root {
    --font-h1: normal 900 36px/1.5em var(--font);
    --font-h2: normal 900 32px/1.5em var(--font);
    --font-h3: normal 900 28px/1.5em var(--font);
    --font-h4: normal 900 24px/1.5em var(--font);
    --font-h5: normal 900 18px/1.5em var(--font);
    --font-h6: normal 900 18px/1.5em var(--font);
    --font-nav: normal 500 18px/1.5em var(--font);
    --font-li: normal 300 18px/1.5em var(--font);
    --font-p: normal 300 18px/1.5em var(--font);
    --font-a: normal 700 18px/1.5em var(--font);
  }
}
p {
  font: var(--font-p);
}

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

h4 {
  font: var(--font-h4);
}

h5 {
  font: var(--font-h5);
}

h6 {
  font: var(--font-h6);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--text);
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

h1 {
  margin-bottom: 1.9rem;
}
h1.headline {
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1.8rem;
}

h3 {
  margin-bottom: 1.6rem;
}

h4 {
  margin-bottom: 1.4rem;
}

h5 {
  margin-bottom: 1.1rem;
}

h6 {
  margin-bottom: 1rem;
}

p,
a {
  margin-bottom: 1.6rem;
}

ul,
ol {
  margin-block-start: 0rem;
  margin-block-end: 1.6rem;
  padding-inline-start: 1rem;
}

li {
  font: var(--font-li);
  margin: 0px 0px 0px 0px;
}

strong {
  font-weight: var(--font-bold);
}

/* Links & Buttons */
a {
  color: var(--link);
  font: var(--font-a);
  border-radius: var(--border-radius);
}
a:hover {
  color: var(--link-hover);
}

a.button {
  background: var(--button-bg);
  color: var(--button-text);
  font: var(--font-button);
  padding: 0.5rem 1rem;
  margin: 0rem 0rem 1rem 0rem;
  display: inline-block;
  text-decoration: none;
}
a.button:hover, a.button:focus {
  background: var(--button-bg-hover);
}
a.button::after {
  content: "›";
  margin-left: 0.5rem;
}

a.button--secondary {
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}
a.button--secondary:hover, a.button--secondary:focus {
  background: var(--button-secondary-bg-hover);
}

a.button--ghost {
  background: var(--button-ghost-bg);
  color: var(--button-ghost-text);
  transition-property: background;
  transition-duration: 0.5s;
}
a.button--ghost:hover, a.button--ghost:focus {
  background: var(--button-ghost-bg-hover);
  transition-duration: 0.2s;
}

a.button + a.button {
  margin-left: 1rem;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  h1.headline {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  a.button {
    padding: 0.3rem 0.5rem;
  }

  a.button + a.button {
    margin-left: 0.5rem;
  }
}
/* Layout */
html {
  font-size: 20px;
}

*:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 0.2rem;
}

body {
  background: var(--bg);
  margin: 0px;
}

header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 900px;
  margin: auto;
  justify-content: space-between;
}
header div.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header div.logo p.logo__text {
  margin: unset;
  font-size: 1.8rem;
  font-weight: 900;
}
header div.logo img.logo__image {
  width: 4rem;
  height: 4rem;
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  background: var(--logo-profile);
  margin-right: 1rem;
}
header nav ul {
  display: flex;
  gap: 1rem;
  padding-inline-start: unset;
  margin: 0px;
}
header nav ul li {
  font: var(--font-li);
  margin: 0px 0px 0px 0px;
  list-style-type: none;
}

main {
  margin: auto;
}
main section {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}
main section#intro {
  padding: 1rem 2rem 3rem 2rem;
}
main section.edge-to-edge {
  background: var(--portfolio-bg);
  width: 100%;
  padding: 3rem;
  width: calc(100vw - 6rem);
  margin-left: calc(50% - 50vw);
  max-width: unset;
}
main section.edge-to-edge > * {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

ul.portfolio {
  list-style-type: none;
  padding: 0rem;
  display: grid;
  grid: auto/repeat(1, 1fr);
  gap: 2rem;
  margin-block-end: 0px;
}
ul.portfolio li {
  margin-bottom: 2rem;
}
ul.portfolio li figure {
  margin-block: unset;
  margin-inline: unset;
}
ul.portfolio li figure img {
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--portfolio-entry-bg);
  margin: 0rem 0rem 1rem 0rem;
  height: auto;
}
ul.portfolio li p:last-of-type {
  margin: 0rem;
}

footer {
  background: var(--footer-bg);
}
footer div {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}
footer div * {
  text-align: center;
}
footer div p:last-of-type {
  margin: 0rem;
  color: var(--footer-text);
}
footer div p:last-of-type * {
  color: var(--footer-text);
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  html {
    font-size: 18px;
  }

  header {
    padding: 1rem;
  }

  main section#intro {
    padding: 0rem 1rem 1rem;
  }

  main section.edge-to-edge {
    padding: 1rem;
    width: calc(100vw - 2rem);
  }

  ul.portfolio li {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=matthewotten.css.map */
